@{
    ViewBag.Title = "О авторе";
}
<div class="container text-center align-middle d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/Images/AXs.png">
        <div class="card-body">
            <h5 class="card-title">Pasha-kto003</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
        </div>
    </div>
</div>
