@model WebApplication5.Models.Phone
   

@{
    ViewBag.Title = "Добавление телфона";
}

<div class="container text-center align-middle d-flex justify-content-center">
    <form asp-action="create" asp-controller="home">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название модели</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Company" class="control-label">Компания</label>
            <input type="text" asp-for="Company" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label">Цена</label>
            <input type="number" asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="OS" class="control-label">Операционная система</label>
            <input type="text" asp-for="OS" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Описание</label>
            <input type="text" asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Country" class="control-label">Страна</label>
            <input type="text" asp-for="Country" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Garanty" class="control-label">Гарантия</label>
            <input type="text" asp-for="Garanty" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Diagonal" class="control-label">Диагональ в дюймах</label>
            <input type="text" asp-for="Diagonal" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Processor" class="control-label">Процессор</label>
            <input type="text" asp-for="Processor" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Count_kernels" class="control-label">Количество ядер</label>
            <input type="text" asp-for="Count_kernels" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Bluetooth" class="control-label">Версия блютуза</label>
            <input type="text" asp-for="Bluetooth" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NFC" class="control-label">NFC</label>
            <input type="text" asp-for="NFC" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Battery_Capacity" class="control-label">Емкость батареи в Ma * ч</label>
            <input type="text" asp-for="Battery_Capacity" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Complect" class="control-label">В комплекте также идет</label>
            <input type="text" asp-for="Complect" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Memory" class="control-label">Память в GB</label>
            <input type="number" asp-for="Memory" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Screen_resolution" class="control-label">Разрешение экрана пиксели</label>
            <input type="text" asp-for="Screen_resolution" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Camera_resolution" class="control-label">Разрешение камеры пиксели</label>
            <input type="text" asp-for="Camera_resolution" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="YearOfRelease" class="control-label">Год выпуска</label>
            <input type="number" asp-for="YearOfRelease" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="PhotoPath" class="control-label">Фотография</label>
            <input type="text" asp-for="PhotoPath" class="form-control" />
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Создать телефон
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Создать телефон</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Вы уверены что хотите создать телефон
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" value="Закрыть" data-dismiss="modal" />
                        <input type="submit" value="Создать телефон" class="btn btn-secondary" role="button" />
                    </div>
                </div>
            </div>
        </div>
        @*
        <div class="form-group">
        <input type="submit" value="Создать телефон" class="btn btn-primary btn-lg active" role="button" />
         </div>
        *@

        @*<div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>*@
    </form>
</div>
    
