@model WebApplication5.Models.User
@{
    ViewBag.Title = "Добавление пользователя";
}
<form asp-action="createuser" asp-controller="home">
    <div class="form-group">
        <label asp-for="Email" class="control-label">Login</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Password</label>
        <input type="text" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Создать пользователя" class="btn btn-primary" />
    </div>
</form>