@model WebApplication5.Models.User
@{
    ViewBag.Title = Model.Email;
}
<h2>Пользователь @Model.Email</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Идентификатор</dt>
        <dd>@Model.Id</dd>

        <dt>Email</dt>
        <dd>@Model.Email</dd>
    </dl>
    <div class="form-group">
        <h5 class="h3 mb-3 font-weight-normal">Это ваш пароль</h5>
        <input type="password" id="password-input" value="@Model.Password" readonly class="form-control" style="width:250px;" placeholder="Введите пароль" asp-for="Password" />
        <span asp-validation-for="Password" />
        <label><input type="checkbox" class="password-checkbox" />Показать пароль</label>
    </div>
</div>