@model IEnumerable<WebApplication5.Models.User>
@{
    ViewBag.Title = "Ваша роль на сайте";
}
<h4>@ViewData["content"]</h4>
<h4>@ViewData["role"]</h4>

<div class="container text-center align-middle  justify-content-center">
    <h2>О чем этот сайт</h2>
    <p>Допустим это сайт магазина мобильных устройств правда самих мобильных не так много :)</p>
    <p>
        На этом сайте вы можете быть админом (ну как я например) или обычным пользователем.
        Если вы пользователь то можете просматривать список всех телефонов, а также смотреть его характеристики.
        Если же вы администратор этого сайта то у вас есть возможности редактирования, создания и удаления мобильных устройств
        На сайте есть несколько страничек мы находимся на странице Home, где выводится информация о сайте.
        На вкладке Phones - список телефонов.
        Регистрация и авторизация на вкладке Login.
    </p>
    <img src="https://avatars.githubusercontent.com/u/73583155?v=4" style="width:200px; justify-content:center; border: 1px solid black; align-items:center; height:200px;" />
    <p>Автор данного сайта: <a href="https://github.com/Pasha-kto003">Pasha-kto003</a></p>
</div>