@model IEnumerable<WebApplication5.Models.User>
@{
}
<body>


    <div class="banner-container">
        <ul class="ul-width">
            <li>
                <a href="#"><img src="https://i01.appmifile.com/webfile/globalimg/products/pc/redmi-note-9/section01-header.jpg" alt="" /></a>
                <span class="overlay"></span>
            </li>
            <li>
                <a href="#"><img src="https://www.apple.com/v/iphone/buy/h/images/meta/og__c6pnqxxo9e6a.jpg?202109231011" alt="" /></a>
                <span class="overlay"></span>
            </li>
            <li>
                <a href="#"><img src="https://www.ixbt.com/img/n1/news/2020/0/5/354657_large.png" alt="" /></a>
                <span class="overlay"></span>
            </li>
        </ul>
    </div>
    <div style="width: 100%; position: relative; margin-top:20px;">
        <img src="https://www.ixbt.com/img/n1/news/2021/7/3/ExuquwOU8AIdkFN_large_large_large.jpg" style="width:100%;" />
        <div class="sign-wrap-3" style="padding: 10px; position: absolute; bottom: 70px; right: 16px;">
            <span class="sign_word"> Недавно вышедший Xiomi 11 lite уже в продаже</span>
        </div>
        <a class="btn btn-primary" style=" margin:10px; position: absolute; bottom: 20px; right: 16px;" href="/Home/Phone" role="button">Перейти на каталог</a>
    </div>
    <div style="width: 100%; position: relative; margin-top:20px;">
        <img src="https://www.notebookcheck-ru.com/fileadmin/Notebooks/Apple/iPhone_13_Pro/4_to_3_Teaser_Apple_iPhone_13_Pro.jpg" style="width:100%;" />
        <div class="sign-wrap-3" style="padding: 10px; position: absolute; bottom: 70px; right: 16px;">
            <span class="sign_word">Новый Iphone 13 Pro уже в продаже</span>
        </div>
        <a class="btn btn-primary" style=" position: absolute; bottom: 20px; right: 16px;" href="/Home/Phone" role="button">Перейти на каталог</a>
    </div>
    <div style="width: 100%; position: relative; margin-top:20px;">
        <img src="https://images.samsung.com/ru/smartphones/galaxy-z-flip/images/galaxy-z-flip_highlight_kv_end.png" style="width:100%;" />
        <div class="sign-wrap-3" style="padding: 10px; position: absolute; bottom: 70px; right: 16px;">
            <span class="sign_word">Любишь изогнутые телефоны? Тогда купи Samsung Galaxy Z Flip!</span>
        </div>
        <a class="btn btn-primary" style=" margin: 10px; position: absolute; bottom: 0px; right: 16px;" href="/Home/Phone" role="button">Перейти на каталог</a>
    </div>
    <div style="width: 100%; position: relative; margin-top:20px;">
        <img src="https://tvoi-setevichok.ru/wp-content/uploads/2019/09/post_5d84f0ff3d350.jpeg" style="width:100%;" />
        <div class="sign-wrap-3" style="padding: 10px; position: absolute; bottom: 70px; right: 16px;">
            <span class="sign_word"> Любишь коллекционировать телефоны тогда Nokia 8810 из Матрицы точно для тебя.</span>
        </div>
        <a class="btn btn-primary" style=" margin: 10px; position: absolute; bottom: 0px; right: 16px;" href="/Home/Phone" role="button">Перейти на каталог</a>
    </div>
    <div style="width: 100%; position: relative; margin-top:20px;">
        <img src="https://www.notebookcheck-ru.com/uploads/tx_nbc2/XiaomiRedmiNote9ProMax.JPG" style="width:100%;" />
        <div class="sign-wrap-3" style="padding: 10px; position: absolute; bottom: 70px; right: 16px;">
            <span class="sign_word"> Хочешь что то дешевле, тогда держи Xiomi Redmi Note 9.</span>
        </div>
        <a class="btn btn-primary" style=" margin: 10px; position: absolute; bottom: 0px; right: 16px;" href="/Home/Phone" role="button">Перейти на каталог</a>
    </div>
    <section class="section section-white">
    </section>
    <section class="section section-color">
        Подсказки
    </section>

    <div class="row" style="margin-top:20px;">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Хотите посмотреть каталог наших телфонов?</h4>
                <div class="card-body">
                    <p class="card-text">Перейдите на вкладку Phones и ознокомьтесь со списком.</p>
                </div>
                <div class="card-footer">
                    <a href="/Home/Phone" class="btn btn-primary">Каталог товаров</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Хотите узнать где мы?</h4>
                <div class="card-body">
                    <p class="card-text">Перейдите на вкладку My Contacts.</p>
                </div>
                <div class="card-footer">
                    <a href="/Home/Contacts" class="btn btn-primary">Контакты</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Забыли данные своего аккаунта?</h4>
                <div class="card-body">
                    <p class="card-text">Вкладочка Your Account.</p>
                </div>
                <div class="card-footer">
                    <a href="/Account/Personal_Area" class="btn btn-primary">Мой аккаунт</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Коментарии пользователей</h2>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <img src="https://sun9-73.userapi.com/impg/gQzVofvvULj5fqA_3fafpy62_Ko5EX50TusQaQ/ETwHX7TDCNU.jpg?size=604x604&quality=96&sign=267d37a9cc16c8381488239f97325b8c&type=album" style="width:100px; margin: 10px; height: 100px;" />
                <h2>Ушлый Страус</h2>
                <p>Это просто прекрасный сайт. Он сжигает наппалмом все волосы на твоей голове. 12/10 <s>игра</s> года сайт года </p>
                <p><a class="btn btn-secondary" href="#" role="button">Activision</a></p>
            </div>
            <div class="col-md-4">
                <img src="https://media.discordapp.net/attachments/882944591584718919/900214599352221696/a8hjRKh8PJk.jpg" style="width:100px; margin: 10px; height: 100px;" />
                <h2>Чебоксар</h2>
                <p>Я не Device233 честно, но мое мнение схоже с мнением Device233 сайт просто шикарный </p>
                <p><a class="btn btn-secondary" href="#" role="button">Дискорд</a></p>
            </div>
            <div class="col-md-4">
                <img src="https://avatars.githubusercontent.com/u/73586312?v=4" style="width:100px; margin: 10px; height: 100px;" />
                <h2>Device233</h2>
                <p>Ну такое же мнение как и у всех сайт вполне неплохой и можно показывать Пушкину.</p>
                <p><a class="btn btn-primary" href="https://github.com/DeVice233" role="button">Перейти на аккаунт</a></p>
            </div>
        </div>

        <hr>
    </div>
</body>

