@{
    ViewBag.Title = "О сайте для Алексея Анатольевича";
}


<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                Первое с чем вы встречаетесь это регистрация по ролям. На данном сайте их всего лишь 2 это Админ и Пользователь.
                Чтобы зайти за админа в строке логин введите "admin@mail.ru" без кавычек, а в строке пароля введите "123456" также без кавычек.
                Если вы хотите зайти как обычный пользователь то введите любые другие данные.
            </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                Итак чтобы воспользоваться базовыми функциями(редактирование, создание или удаление объектов, в данном случае телефонов) вам потребуется выполнить вход за админа(как это сделать указано в предыдущем элементе).
                Затем записать те данные которые указаны, например, модель, процессор кол-во ядер, год выпуска и т.д, не забывая соблюдать такие правила как не вводить данные типа string в те места где нужно указать число. Программа предупредит вас о такой ошибке.
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Вход на сайт по паролю
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Первое с чем вы встречаетесь это регистрация по ролям. На данном сайте их всего лишь 2 это Админ и Пользователь.
                Чтобы зайти за админа в строке логин введите "admin@mail.ru" без кавычек, а в строке пароля введите "123456" также без кавычек.
                Если вы хотите зайти как обычный пользователь то введите любые другие данные.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Функции администратора
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Итак чтобы воспользоваться базовыми функциями(редактирование, создание или удаление объектов, в данном случае телефонов) вам потребуется выполнить вход за админа(как это сделать указано в предыдущем элементе).
                Затем записать те данные которые указаны, например, модель, процессор кол-во ядер, год выпуска и т.д, не забывая соблюдать такие правила как не вводить данные типа string в те места где нужно указать число. Программа предупредит вас о такой ошибке.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Подсказки
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Также на главной страничке в карточках записаны некоторые подсказки для пользователей. Можете пользоваться ими, если возникнут какие-то вопросы.
                На данном сайте есть несколько вкладок на которых находится различная информация.
                Вкладка Home - главная страница.
                Вкладка Privacy - политика конфиденциальности.
                Вкладка About - об авторе сайте.
                Вкладка My contacts - где автор работает.
                Вкладка Phones - каталог телефонов нашего сайта.
                Information for Pushkin - вкладка для вас.
                Registration - вход/выход со своего аккаунта и регистрация там еще информация есть о вас если забыли что-то.
            </div>
        </div>
    </div>
</div>
<p><img src="https://www.meme-arsenal.com/memes/5aa63bf9092e6d648f3e1ca3d66cafd8.jpg" /></p>
<p>Алексей Анатольевич проверяет мой сайт холст масло</p>
@*<footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                <small class="d-block mb-3 text-muted">© 2017-2018</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Business</a></li>
                    <li><a class="text-muted" href="#">Education</a></li>
                    <li><a class="text-muted" href="#">Government</a></li>
                    <li><a class="text-muted" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>*@