@model IEnumerable<WebApplication5.Models.User>
@{
    ViewBag.Title = "Все пользователи сайта";

}
<a asp-action="CreateUser" class="atuin-btn">Добавить пользователя</a>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Email</td>
            <td>
                <a asp-action="DetailsUser" asp-controller="Home" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="EditUser" asp-controller="Home" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="DeleteUser" asp-controller="Home" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
