/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.atuin-btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    border: 2px solid #BFE2FF;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #337AB7;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}
 .atuin-btn:hover,
 .atuin-btn:active,
 .atuin-btn:focus {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
        color: #FFF;

}

.wave-divider {
    width: 100%;
    height: 60px;
    display: block;
}

.wave-parallax1 {
    animation: wave-move1 10s linear infinite;
}

.wave-parallax2 {
    animation: wave-move2 8s linear infinite;
}

.wave-parallax3 {
    animation: wave-move3 6s linear infinite;
}

.wave-parallax4 {
    animation: wave-move4 4s linear infinite;
}

@keyframes wave-move1 {
    0% {
        transform: translateX(85px);
    }

    100% {
        transform: translateX(-90px);
    }
}

@keyframes wave-move2 {
    0% {
        transform: translateX(-90px);
    }

    100% {
        transform: translateX(85px);
    }
}

@keyframes wave-move3 {
    0% {
        transform: translateX(85px);
    }

    100% {
        transform: translateX(-90px);
    }
}

@keyframes wave-move4 {
    0% {
        transform: translateX(-90px);
    }

    100% {
        transform: translateX(85px);
    }
}

.dark-block {
    background: #337AB7;
    padding: 50px 0;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #FFF;
}

.dark-bg {
    background: #337AB7;
}

.light-block {
    background: #FFF;
    padding: 50px 0;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #337AB7;
}
.atuin-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
        transition: left 0.7s;
}
.atuin-btn:hover:before,
.atuin-btn:active:before,
.atuin-btn:focus:before {
        left: 100%;
    }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.rating-mini {
    display: inline-block;
    font-size: 0;
}

.rating-mini span {
        padding: 0;
        font-size: 20px;
        line-height: 1;
        color: lightgrey;
}

.rating-mini > span:before {
        content: '★';
}

.rating-mini > span.active {
        color: gold;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.banner-container {
    overflow: hidden;
    position: relative;
}

.banner-container ul {
    padding: 0;
    display: flex;
    width: calc(100% + 60px);
    margin-left: -30px;
}

.banner-container li {
    clip-path: polygon(60px 0%, 100% 0%, calc(100% - 60px) 100%, 0% 100%);
    position: relative;
    margin: 0 -35px;
    width: calc(100% / 5 + 70px); /* 5 - кол-во фотографий */
    transition: width 0.5s ease-in;
}

    .banner-container li a {
        display: block;
        background: #000;
    }

        .banner-container li a img {
            max-width: none;
            height: 200px;
            width: 100%;
            object-fit: cover;
            opacity: 0.6;
            transition: opacity 0.7s ease-in;
        }

.banner-container ul li:hover {
    width: 100%;
}

    .banner-container ul li:hover a img {
        opacity: 1;
    }

#bongo-cat {
    width: 100%;
    max-width: 600px;
    margin: 60px auto 0 auto;
    display: block;  
}
.typing-animation {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1200ms;
}
path#f1-l1 {
    animation-name: typing-f1-l1;
}
 
path#f1-l2 {
    animation-name: typing-f1-l2;
}
 
path#f1-l3 {
    animation-name: typing-f1-l3;
}
 
path#f2-l4 {
    animation-name: typing-f2-l4;
}
 
path#f2-l5 {
    animation-name: typing-f2-l5;
}


.corner-box-1 {
    display: inline-block;
    width: 300px;
    position: relative;
    border: 2px solid #337AB7;
    transition: all .3s ease;
    margin: 10px;
}

    .corner-box-1:before,
    .corner-box-1:after {
        content: "";
        z-index: 1;
        display: block;
        position: absolute;
        background: #FFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
    }

    .corner-box-1:before {
        width: calc(100% + 4px);
        height: 80%;
        transition: height 0.6s;
    }

    .corner-box-1:after {
        height: calc(100% + 4px);
        width: 90%;
        transition: width 0.6s;
    }

    .corner-box-1:hover:before,
    .corner-box-1:focus:before {
        height: 50%;
    }

    .corner-box-1:hover:after,
    .corner-box-1:focus:after {
        width: 75%;
    }

.corner-box-1-content {
    z-index: 2;
    position: relative;
}

.atuin-btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    border: 2px solid #BFE2FF;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #337AB7;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

    .atuin-btn:hover,
    .atuin-btn:active,
    .atuin-btn:focus {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
        color: #FFF;
    }

    .atuin-btn:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(-45deg, transparent, rgba(191, 226, 255, 0.3), transparent);
        transition: left 0.7s;
    }

    .atuin-btn:hover:before,
    .atuin-btn:active:before,
    .atuin-btn:focus:before {
        left: 100%;
    }

.sign-wrap-3 {
    text-align: center;
    padding: 60px 20px;
}

    .sign-wrap-3 .sign_word {
        font-size: 40px;
        font-weight: bold;
        line-height: 50px;
        color: orangered;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        animation: neon-3 5s steps(1, start) infinite reverse;
    }

@keyframes neon-3 {
    0% {
        color: black;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }

    80% {
        color: deeppink;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }

    81% {
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }

    82% {
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }

    83% {
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }

    84% {
        color: #0b3960;
        text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
    }

    85% {
        color: #E1F5FE;
        text-shadow: 0 0 6px #fff,0 0 10px #fff,0 0 50px #79a7fc;
    }

    100% {
        color: orange;
        text-shadow: 0 0 7px #0b3960,0 0 8px #0b3960;
    }
}

.section {
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #E6E6FA;
}

.section-color {
    background-color: #337AB7;
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 675 134' style='enable-background:new 0 0 675 134;' xml:space='preserve'%3E %3Cstyle type='text/css'%3E .s%7Bfill:%23FFF;%7D %3C/style%3E %3Cg%3E %3Cg%3E %3Cpolygon class='s' points='63.3,54.7 63.3,42.5 52.8,36.4 42.2,42.5 42.2,54.7 52.8,60.8 '/%3E %3Cpolygon class='s' points='31.7,36.3 31.7,24.1 21.1,18 10.6,24.1 10.6,36.3 21.1,42.4 '/%3E %3Cpolygon class='s' points='84.4,18.3 84.4,6.1 73.9,0 63.3,6.1 63.3,18.3 73.9,24.4 '/%3E %3Cpolygon class='s' points='147.7,18.3 147.7,6.1 137.1,0 126.6,6.1 126.6,18.3 137.1,24.4 '/%3E %3Cpolygon class='s' points='232.1,18.3 232.1,6.1 221.5,0 211,6.1 211,18.3 221.5,24.4 '/%3E %3Cpolygon class='s' points='284.8,36.3 284.8,24.1 274.2,18 263.7,24.1 263.7,36.3 274.2,42.4 '/%3E %3Cpolygon class='s' points='379.7,18.3 379.7,6.1 369.2,0 358.6,6.1 358.6,18.3 369.2,24.4 '/%3E %3Cpolygon class='s' points='506.3,18.3 506.3,6.1 495.7,0 485.2,6.1 485.2,18.3 495.7,24.4 '/%3E %3Cpolygon class='s' points='675,18.3 675,6.1 664.5,0 653.9,6.1 653.9,18.3 664.5,24.4 '/%3E %3Cpolygon class='s' points='643.4,36.3 643.4,24.1 632.8,18 622.3,24.1 622.3,36.3 632.8,42.4 '/%3E %3Cpolygon class='s' points='559,36.3 559,24.1 548.4,18 537.9,24.1 537.9,36.3 548.4,42.4 '/%3E %3Cpolygon class='s' points='147.7,54.7 158.2,60.8 168.8,54.7 168.8,42.5 158.2,36.4 147.7,42.5 '/%3E %3Cpolygon class='s' points='232.1,54.7 232.1,42.5 221.5,36.4 211,42.5 211,54.7 221.5,60.8 '/%3E %3Cpolygon class='s' points='316.4,54.7 316.4,42.5 305.9,36.4 295.3,42.5 295.3,54.6 284.8,60.6 284.8,72.8 295.3,78.9 305.9,72.8 305.9,60.8 '/%3E %3Cpolygon class='s' points='358.6,54.7 358.6,42.5 348.1,36.4 337.5,42.5 337.5,54.7 348.1,60.8 '/%3E %3Cpolygon class='s' points='411.3,36.4 400.8,42.5 400.8,54.7 411.3,60.8 421.9,54.7 421.9,42.5 421.9,42.4 432.4,36.3 432.4,24.1 421.9,18 411.3,24.1 411.3,36.3 '/%3E %3Cpolygon class='s' points='506.3,54.7 516.8,60.8 527.4,54.7 527.4,42.5 516.8,36.4 506.3,42.5 '/%3E %3Cpolygon class='s' points='675,54.7 675,42.5 664.5,36.4 653.9,42.5 653.9,54.7 664.5,60.8 '/%3E %3Cpath class='s' d='M664.5,133.7l-10.5-6.1v-12.2l10.5-6.1V97.2l10.5-6.1V78.8l-10.5-6.1L654,78.8V91l0,0l-10.5,6.1v12.2l0,0 l-10.5,6.1l0,0l-10.5-6.1l0,0V97.1L611.7,91V78.8l-10.5-6.1l0,0v-12l10.5-6.1V42.4l-10.5-6.1l-10.5,6.1v12.1l-10.5,6.1v12.2l0,0 l-10.5,6.1V91l10.5,6.1l10.5-6.1l10.5,6.1v12.2l0,0l-10.5,6.1v12.2l0,0l-10.5,6.1l0,0l-10.5-6.1v-12.2l-10.5-6.1V97.2l-10.5-6.1 l-10.5,6.1l0,0l-10.5-6.1l0,0V78.9l-10.5-6.1l-10.5,6.1v12.2l0,0l-10.5,6.1v12.2l0,0l-10.5,6.1l0,0l-10.5-6.1l-10.5,6.1v12.2l0,0 l-10.5,6.1l0,0l-10.5-6.1l0,0v-12.2l10.6-6.1V97.2L443,91.1l-10.5,6.1l0,0L422,91.1l0,0V78.9l-10.5-6.1L401,78.9v12.2l10.5,6.1 l0,0v12.2l0,0l-10.5,6.1v12.2l-10.5,6.1l0,0l-10.5-6.1l0,0v-12.2l0,0l10.5-6.1V97.2L380,91.1V78.9l0,0l10.5-6.1V60.6L380,54.5 l-10.5,6.1v12.2l0,0L359,78.9v12.2l10.5,6.1l0,0v12.2l0,0l-10.5,6.1l0,0l-10.5-6.1l0,0V97.2L338,91.1V78.9l-11-6.1l-10.5,6.1v12.2 l10.5,6.1l0,0v12.2l-10.5,6.1v12.2l-10.5,6.1l0,0l-10.5-6.1l0,0v-12.2l10.5-6.1V97.2l-10.5-6.1L285,97.2v12.2l0,0l-10.5,6.1l0,0 l-10.5-6.1l-10.5,6.1l0,0l-10.5-6.1l0,0V97.2l-10.5-6.1l0,0V78.9L222,72.8l-11,6.1v12.2l-10.5,6.1v12.2l10.5,6.1l0,0v12.2 l-10.5,6.1l0,0l-10.5-6.1v-12.2l-10.5-6.1l0,0V97.2L169,91.1V78.9l-10.5-6.1L148,78.9v12.2l10.5,6.1v12.2l0,0l-10.5,6.1v12.2l0,0 l-10.5,6.1l0,0l-10.5-6.1v-12l10.5-6.1V97.4L127,91.3l-11,6.1l0,0l-10.5-6.1V79.1L94.9,73l-10.5,6.1v12.2l10.5,6.1v12.2l10.5,6.1 v12l0,0l-10.5,6.1l0,0l-10.5-6.1v-12.2l-10.5-6.1l-10.5,6.1l0,0l-10.5-6.1v-12l10.5-6.1V79.1L52.8,73l-10.5,6.1v12.2l-10.5,6.1v12 l-10.5,6.1v12.2l0,0l-10.5,6.1l0,0L0,127.6v6.4h675v-6.4L664.5,133.7z M527.4,127.6l-10.5,6.1l-10.5-6.1v-12.2l10.5-6.1l10.5,6.1 V127.6z'/%3E %3Cpolygon class='s' points='10.6,60.6 10.6,72.8 21.1,78.9 31.7,72.8 31.7,60.6 21.1,54.6 '/%3E %3Cpolygon class='s' points='116,72.8 126.6,78.9 137.1,72.8 137.1,60.6 126.6,54.6 126.6,42.5 116,36.4 105.5,42.5 105.5,54.7 116,60.8 '/%3E %3Cpolygon class='s' points='200.4,72.8 200.4,60.6 189.9,54.6 179.3,60.6 179.3,72.8 189.9,78.9 '/%3E %3Cpolygon class='s' points='253.1,78.9 253.1,91.1 263.7,97.2 274.2,91.1 274.2,78.9 263.7,72.8 263.7,72.8 263.7,60.6 253.1,54.6 242.6,60.6 242.6,72.8 '/%3E %3Cpolygon class='s' points='453.5,72.8 453.5,60.6 443,54.6 432.4,60.6 432.4,72.8 443,78.9 '/%3E %3Cpolygon class='s' points='537.9,60.6 537.9,72.8 548.4,78.9 559,72.8 559,60.6 548.4,54.6 '/%3E %3Cpolygon class='s' points='643.4,72.8 643.4,60.6 632.8,54.6 622.3,60.6 622.3,72.8 632.8,78.9 '/%3E %3Cpolygon class='s' points='485.2,54.6 485.2,54.6 485.2,42.5 474.6,36.4 464.1,42.5 464.1,54.7 474.6,60.8 474.6,60.8 474.6,72.7 474.6,72.7 464.1,78.8 464.1,91 474.6,97.1 485.2,91 485.2,78.9 485.2,78.9 495.7,72.8 495.7,60.6 '/%3E %3C/g%3E %3C/g%3E %3C/svg%3E ");
    background-size: auto 60px;
    background-repeat: repeat-x;
    background-position: center bottom;
    padding-top: 40px;
    padding-bottom: 100px;
    color: #E6E6FA;
}

.section-no {
    background-color: #E6E6FA;
    padding-top: 40px;
    padding-bottom: 40px;
}

.banner-wrapper {
    position: relative;
    overflow: hidden;
    height: 500px;
    margin: 20px 0;
}

.banner {
    position: absolute;
    overflow: hidden;
}

    .banner.dev {
        transform: skew(-30deg);
        margin-left: -200px;
        width: calc(50% + 200px);
        transition: all 300ms ease-out;
    }

        .banner.dev .banner-content {
            transform: skew(30deg);
            margin-left: 200px;
        }

    .banner .banner-content {
        height: 500px;
    }

        .banner .banner-content img {
            max-width: none;
        }

#bongo-cat {
    width: 100%;
    max-width: 600px;
    margin: 60px auto 0 auto;
    display: block;
}

.typing-animation {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1200ms;
}

path#f1-l1 {
    animation-name: typing-f1-l1;
}

path#f1-l2 {
    animation-name: typing-f1-l2;
}

path#f1-l3 {
    animation-name: typing-f1-l3;
}

path#f2-l4 {
    animation-name: typing-f2-l4;
}

path#f2-l5 {
    animation-name: typing-f2-l5;
}

path#f2-l6 {
    animation-name: typing-f2-l6;
}

path#f3-l7 {
    animation-name: typing-f3-l7;
}

path#f3-l8 {
    animation-name: typing-f3-l8;
}

path#f3-l9 {
    animation-name: typing-f3-l9;
}

@keyframes typing-f3-l9 {
    0% {
        d: path("M8,25L8,25");
    }

    82% {
        d: path("M8,25L8,25");
    }

    92% {
        d: path("M8,25L96,25");
    }

    100% {
        d: path("M8,25L96,25");
    }
}

@keyframes typing-f3-l8 {
    0% {
        d: path("M8,13L8,13");
    }

    68% {
        d: path("M8,13L8,13");
    }

    82% {
        d: path("M8,13L146,13");
    }

    100% {
        d: path("M8,13L146,13");
    }
}

@keyframes typing-f3-l7 {
    0% {
        d: path("M0,1L0,1");
    }

    60% {
        d: path("M0,1L0,1");
    }

    68% {
        d: path("M0,1L96,1");
    }

    100% {
        d: path("M0,1L96,1");
    }
}

@keyframes typing-f2-l6 {
    0% {
        d: path("M8,25L8,25");
    }

    54% {
        d: path("M8,25L8,25");
    }

    60% {
        d: path("M8,25L69,25");
    }

    100% {
        d: path("M8,25L69,25");
    }
}

@keyframes typing-f2-l5 {
    0% {
        d: path("M8,13L8,13");
    }

    44% {
        d: path("M8,13L8,13");
    }

    54% {
        d: path("M8,13L114,13");
    }

    100% {
        d: path("M8,13L114,13");
    }
}

@keyframes typing-f2-l4 {
    0% {
        d: path("M0,1L0,1");
    }

    30% {
        d: path("M0,1L0,1");
    }

    44% {
        d: path("M0,1L136,1");
    }

    100% {
        d: path("M0,1L136,1");
    }
}

@keyframes typing-f1-l3 {
    0% {
        d: path("M8,25L8,25");
    }

    24% {
        d: path("M8,25L8,25");
    }

    30% {
        d: path("M8,25L61,25");
    }

    100% {
        d: path("M8,25L61,25");
    }
}

@keyframes typing-f1-l2 {
    0% {
        d: path("M8,13L8,13");
    }

    14% {
        d: path("M8,13L8,13");
    }

    24% {
        d: path("M8,13L124,13");
    }

    100% {
        d: path("M8,13L124,13");
    }
}

@keyframes typing-f1-l1 {
    0% {
        d: path("M0,1L0,1");
    }

    14% {
        d: path("M0,1L160,1");
    }

    100% {
        d: path("M0,1L160,1");
    }
}

#paw-right--up,
#paw-right--down,
#paw-left--up,
#paw-left--down {
    animation: blink 300ms infinite;
}

#paw-right--up,
#paw-left--down {
    animation-delay: 150ms;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#laptop__code {
    transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px) translateY(20px) translateZ(-50px);
    width: 100px;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.img-box {
    position: relative;
    width: 100%; /* for IE 6 */
}
.left {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

.picturetext{
    /*margin-bottom:70px;*/
    color: aqua;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
/* Vertically center the text there */
}

:root {
    --foundation: path("M161 188.375C170 193.5 177.919 193.854 186 188.375C197.919 180.294 197.919 159.581 186 151.5C177.919 146.021 169.081 146.021 161 151.5C149.081 159.581 152 183.25 161 188.375ZM141.5 59.5C131.26 59.5 117.936 45.0628 100.5 52C81.6499 59.5 86.0351 73.5325 78.5 85.5C70 99 57.9171 96.3659 49.5 115C40.4659 135 58.5 138 58.5 154C58.5 170 41 166.5 46.5 185.5C52 204.5 72.5 196 81.6499 209C94.5 218.5 81.6499 233.418 100.5 241.5C122.657 251 121.5 232 141.5 237C154.5 237 154.5 257 180.5 251C203.99 245.579 193.5 230 211 222.5C226.5 212.5 236.5 226 255 206C272.51 187.07 247.5 177 249 154C253 132.5 273.5 120 258.5 94C245.5 77 235 78.5 211 75.5C190.5 68 200 53 177.5 49.5C153.5 43.5 161 59.5 141.5 59.5ZM138 129C129.877 116.815 108.623 116.815 100.5 129C95.0844 137.123 95.0844 145.877 100.5 154C108.623 166.185 129.877 166.185 138 154C143.416 145.877 143.416 137.123 138 129Z");
    --warmer: path("M161 188.375C170 193.5 177.919 193.854 186 188.375C197.919 180.294 197.919 159.581 186 151.5C177.919 146.021 169.081 146.021 161 151.5C149.081 159.581 152 183.25 161 188.375ZM145.5 70.5C127 70.5 112 24.5202 89.5 42C77.6254 51.2251 94.3244 85.6756 87.5 92.5C81.0365 98.9635 61.5 85.5 53.5 112C45.5 138.5 74.5 143.25 74.5 154C74.5 164.751 36.6441 162.082 39.5 185.5C42 206 86.5365 194.537 93 201C100.5 213.5 52 251.495 80 263.5C103 273.362 118 222.5 141 222.5C151.261 222.5 156.5 271.5 182.5 268C202.988 265.242 192.5 222.5 205.5 213.5C218.5 204.5 267.5 235 279.5 213.5C292.936 189.427 235.5 171 235.5 154C232.5 135.5 282.5 113.5 267.5 87.5C254.5 70.5 218 96 201.5 92.5C186 84 196 42 175.5 38C157.5 31.5 155.991 70.5 145.5 70.5ZM138 129C129.877 116.815 108.623 116.815 100.5 129C95.0844 137.123 95.0844 145.877 100.5 154C108.623 166.185 129.877 166.185 138 154C143.416 145.877 143.416 137.123 138 129Z");
    --blob: path("M232.5 256C225 251 209.5 262.5 224 281.5C232.736 292.948 238.561 297.756 251 290.5C257 287 256.114 271.924 250 264.5C243.886 257.076 240 261 232.5 256ZM147 92.5C107.974 87.5 118 17 93 44C68 71 123.543 76.5 108 101.5C90.5 115 85 99 64 115C64 141 90.5 127 90.5 156C69.5 181.5 27 163.625 24.5 190C49 212.625 58.5 171.5 100 193C105.5 259.345 1 248.5 58.5 291.5C94.5576 318.465 114.991 206.551 140.5 211C183.5 218.5 134.5 294 186.5 279.5C207.5 273 176.5 240.5 196 204C250 196.5 275.916 253 291.5 218.5C311.375 174.5 221 190 224 160C208 123.5 291.5 123.5 267.5 87.5C238.5 57 247 125.5 196 105.5C147 92.5 229.5 13.5 173.5 2.5C140.5 2.49999 186.5 73.5 147 92.5ZM45 92.5C36.8766 80.3149 14.1234 75.3149 6.00001 87.5C0.584412 95.6234 2.00001 120.357 14.5 115C27.9606 109.231 36.8766 124.685 45 112.5C50.4156 104.377 50.4156 100.623 45 92.5Z");
}

.blob-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blob {
    --splodge: var(--foundation);
    height: 300px;
    width: 300px;
    position: relative;
}

.blob-image {
    height: 100%;
    width: 100%;
    clip-path: var(--splodge);
    transition: clip-path 0.2s, transform 0.2s;
    transform: rotate(calc(var(--rotate) * 1deg)) scale(var(--scale));
    position: relative;
    background-color: var(--hex);
}

.blob img {
    opacity: 0;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .blob img:nth-of-type(1) {
        opacity: 1;
    }

.blob:hover {
    --splodge: var(--warmer);
    --scale: var(--hover-scale);
    --rotate: var(--hover-rotate);
}

    .blob:hover img:nth-of-type(1),
    .blob:hover img:nth-of-type(3) {
        opacity: 0;
    }

    .blob:hover img:nth-of-type(2) {
        opacity: 1;
    }

.blob:active {
    --scale: var(--active-scale);
    --rotate: var(--active-rotate);
    --splodge: var(--blob);
}

    .blob:active img:nth-of-type(1),
    .blob:active img:nth-of-type(2) {
        opacity: 0;
    }

    .blob:active img:nth-of-type(3) {
        opacity: 1;
    }    
